{% layout "layout.liquid" %} 
{% block content %}
<h1 class="display-4 mt-md-5">Welcome To The Weather App</h1>

<section class="vh-100">
    <div class="container py-5">
        <div class="row d-flext justify-content-center mb-md-5 h-50">
            <div class="form-group col-md-6 col-md-offset-3 align-center ">
                   <form id="form" action="/weather">
                      <div class="input-group">
                         <input type="text" id="zipcode" 
                         class="form-control rounded" 
                         name="zipcode" placeholder="Enter Zip Code" 
                         aria-label="Search" aria-describedby="search-addon" />
    
                       <!-- <a href="/weather" class="btn btn-info">
                           Search -->
                         <input type="submit"  
                         class="btn btn-outline-primary" value="Search" />
                       <!-- </a> -->
                        </div>
                    </form>
            </div>   
        </div>
    </div>
</section>
{% endblock %}
