{% layout "layout.liquid" %} 
{% block content %}
<h1 class="display-4">Welcome To The Weather App</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="form-group col-md-4 col-md-offset-5 align-center ">
            <form id="form" action="/weather">
                <input type="text" id="zipcode" class="form-control rounded" name="zipcode" placeholder="Enter Zip Code" aria-label="Search" aria-describedby="search-addon" />
                <!-- <a href="/weather" class="btn btn-info">
                    Search -->
                <input type="submit"  class="btn btn-outline-primary" value="Search" />
                <!-- </a> -->
            </form>
        </div>
    </div>
</div>

{% endblock %}
